<!-- extend base layout -->
{% extends 'base.html' %}

{% block content3 %}
    <p>
        <h2>Welcome to Matrix.com!</h2>
        <br><h3>On this web-site You can:</h3><br>
        - find relation types of matrix(reflexive/irreflexive,symmetric...);<br>
        - make different types of closures on matrix;<br>
        - find a product of matrixes;<br><br>
        This web-site works with zero-one matrixes<br>
        <h3>Hope this web-site will be useful for You:)</h3>
    </p>
{% endblock %}