<!-- extend base layout -->
{% extends 'base1.html' %}

{% block content3 %}
    <h2>{{ title }}</h2>
    {% if not result_relations %}
        <form method="POST">
            Choose matrix size:
            <select name='size' id ='sel'></select>
            <div id ='matrix_form'></div>
        </form>
    {% else %}
        <table>
        <tr>
            <th width="300px">Your matrix</th>
            <th width="300px">Result</th>
        </tr>
        <tr>
            <td>{{ inputed_matrix }}</td>
            <td>{{ result_relations }}</td>
        </tr>
        </table>
    {% endif %}
{% endblock %}